<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297535846989-kpnpf9p2p5a57cfstcg9dco26ursr1u6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297535846989-kpnpf9p2p5a57cfstcg9dco26ursr1u6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>297535846989-ak1f0e1obcrg3hcrinbvrkvq6k2c2duv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBY0pOprYMACnkuhxa0ioJzfb9C91jHKKM</string>
	<key>GCM_SENDER_ID</key>
	<string>297535846989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.triberly.triberly</string>
	<key>PROJECT_ID</key>
	<string>triberly-app</string>
	<key>STORAGE_BUCKET</key>
	<string>triberly-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297535846989:ios:609f8811c6206784573a04</string>
	<key>DATABASE_URL</key>
	<string>https://triberly-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>